<page-able id="register">
    <link rel="stylesheet" href="../styles/register.css" />

    <p>Sign Up</p>
    <form id="registerForm">
        <label>Name</label><br />
        <input type="text" class="textfield"/><br />

        <label>Email</label><br />
        <input type="email" class="textfield"/><br />

        <label>Password</label><br />
        <input type="password" class="textfield"/><br />

        <label>Repeat Password</label><br />
        <input type="password" class="textfield"/><br />

        <input type="submit" class="button" value="Submit"/>
    </form>
</page-able>
